.tabs .tab a {
  color: white;
}

.tabs .tab a.active {
  color: white;
}

.tabs .tab a:hover {
  color: white;
}

.tabs .indicator {
  background-color: orange;
}

.flexwrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.row {
  margin-bottom: 0px;
}

nav {
  margin-bottom: 10px;
}

h1 {
  text-decoration: bold;
}

footer a {
  border-bottom: 2px dotted #000;
  color: black;
  text-decoration: none;
  border-color: #f57c00;
}
